# 付属 example data生成
example1_train: ErCo2 train  
example2_train: Fe3Ga4 train  
example4_train: BiS2 HPA FS train  

example3 は、著作権があるかもしれないのでそのまま

In [1]:
import pandas as pd
df_source1 = pd.read_csv("example1_train.csv")
df_source1

,Time,Comment,Field (Oe),Temperature (K),Long Moment (emu),Long Scan Std Dev,Long Algorithm,Long Reg Fit,Long Percent Error (%),Trans Moment (emu),...,Trans Percent Error [w/o ABS] (%),Points per Scan,Scans per Measurement,Scan Length (cm),Delta Temp (K),Rot Position (deg),Error,EC Comp. Running,Using ABS,Unnamed: 30
0,1.651744e+09,NaN,50000.0,9.998755,0.075689,0.0,3,0.984405,0.0,NaN,...,NaN,32,1,4.0,0.006248,0.0,0,1,0,NaN
1,1.651744e+09,NaN,50000.0,10.705800,0.075674,0.0,3,0.984435,0.0,NaN,...,NaN,32,1,4.0,0.368600,0.0,0,1,0,NaN
2,1.651744e+09,NaN,50000.0,11.159270,0.075669,0.0,3,0.984533,0.0,NaN,...,NaN,32,1,4.0,0.313880,0.0,0,1,0,NaN
3,1.651744e+09,NaN,50000.0,11.684140,0.075645,0.0,3,0.984524,0.0,NaN,...,NaN,32,1,4.0,0.358910,0.0,0,1,0,NaN
4,1.651744e+09,NaN,50000.0,12.171110,0.075646,0.0,3,0.984405,0.0,NaN,...,NaN,32,1,4.0,0.326799,0.0,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,1.651821e+09,NaN,100.0,58.586380,0.000166,0.0,3,0.987639,0.0,NaN,...,NaN,32,1,4.0,0.384857,0.0,0,1,0,NaN
804,1.651821e+09,NaN,100.0,58.990460,0.000165,0.0,3,0.986244,0.0,NaN,...,NaN,32,1,4.0,0.399261,0.0,0,1,0,NaN
805,1.651821e+09,NaN,100.0,59.375980,0.000163,0.0,3,0.983932,0.0,NaN,...,NaN,32,1,4.0,0.308430,0.0,0,1,0,NaN
806,1.651821e+09,NaN,100.0,59.725620,0.000161,0.0,3,0.983830,0.0,NaN,...,NaN,32,1,4.0,0.390839,0.0,0,1,0,NaN
807,1.651822e+09,NaN,100.0,59.994520,0.000164,0.0,3,0.991409,0.0,NaN,...,NaN,32,1,4.0,0.007481,0.0,0,1,0,NaN

In [19]:
df_temp1a = pd.read_csv("example1_train.csv", usecols=["Temperature (K)", "Field (Oe)", "Long Moment (emu)"])
df_temp1a
df_temp1b = df_temp1a.reindex(columns=["Temperature (K)","Field (Oe)","Long Moment (emu)"])
df_temp1b
df_temp1b.columns=["X1_demo1", "X2_demo1", "Y_demo1"]
df_temp1b.to_csv("traindata_demo1.csv", index=False)
df_temp1b

      X1_demo1  X2_demo1   Y_demo1
0     9.998755   50000.0  0.075689
1    10.705800   50000.0  0.075674
2    11.159270   50000.0  0.075669
3    11.684140   50000.0  0.075645
4    12.171110   50000.0  0.075646
..         ...       ...       ...
803  58.586380     100.0  0.000166
804  58.990460     100.0  0.000165
805  59.375980     100.0  0.000163
806  59.725620     100.0  0.000161
807  59.994520     100.0  0.000164

[808 rows x 3 columns]

In [20]:
df_source2 = pd.read_csv("example2_train.csv")
df_source2

df_temp2a = pd.read_csv("example2_train.csv", usecols=["Temperature (K)", "Field (Oe)", "Long Moment (emu)"])
df_temp2a
df_temp2b = df_temp2a.reindex(columns=["Temperature (K)","Field (Oe)","Long Moment (emu)"])
df_temp2b
df_temp2b.columns=["X1_demo2", "X2_demo2", "Y_demo2"]
df_temp2b.to_csv("traindata_demo2.csv", index=False)
df_temp2b

        X1_demo2  X2_demo2   Y_demo2
0       4.999982   20000.0  0.254841
1       5.732098   20000.0  0.254783
2       6.191485   20000.0  0.254757
3       6.686176   20000.0  0.254724
4       7.222977   20000.0  0.254617
...          ...       ...       ...
2732  198.179000     100.0  0.000546
2733  198.900700     100.0  0.000546
2734  199.349800     100.0  0.000546
2735  199.548800     100.0  0.000553
2736  199.905700     100.0  0.000549

[2737 rows x 3 columns]

In [21]:
df_source4 = pd.read_csv("example4_train.csv")
df_source4

df_temp4a = pd.read_csv("example4_train.csv", usecols=["prim_axis", "sec_axis", "value"])
df_temp4a
df_temp4a.columns=["X1_demo4", "X2_demo4", "Y_demo4"]
df_temp4a.to_csv("traindata_demo4.csv", index=False)
df_temp4a

        X1_demo4  X2_demo4   Y_demo4
0     -22.667900       -15  4.962030
1     -22.619309       -15  4.022773
2     -22.570718       -15  0.745043
3     -22.522127       -15  0.000000
4     -22.473536       -15  0.000000
...          ...       ...       ...
29972  24.076641        15  0.000000
29973  24.125232        15  0.000000
29974  24.173823        15  0.000000
29975  24.222414        15  0.000000
29976  24.271005        15  0.000000

[29977 rows x 3 columns]